@import "@fontsource/exo-2/400.css";
@import "@fontsource/exo-2/500.css";
@import "@fontsource/exo-2/600.css";
@import "@fontsource/exo-2/700.css";
@import "@fontsource/orbitron/500.css";
@import "@fontsource/orbitron/700.css";
@import "@fontsource/orbitron/800.css";
@import "../design-system/theme.css";

html,
body,
#root {
  width: 100%;
  height: 100%;
}

html {
  font-size: 17px;
}

body {
  margin: 0;
  min-width: 320px;
  overflow: hidden;
}
